# EditorConfig hilft dabei, konsistente Codierungsstile zwischen verschiedenen Editoren und IDEs zu definieren
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
file_header_template = /**\nCopyright (c) 2026 Badischer Judo Verband e.V.\nSPDX-License-Identifier:AGPL-3.0\n*/

[*.md]
trim_trailing_whitespace = false
