# -----------------------------------------------------
# Node / NPM
# -----------------------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
*.tsbuildinfo

# -----------------------------------------------------
# Build Output
# -----------------------------------------------------
dist/
*.bundle.js
*.bundle.js.map

/docs/dmv-assistant.user.js


# -----------------------------------------------------
# Logs
# -----------------------------------------------------
*.log
logs/
debug.log

# -----------------------------------------------------
# OS / Editor
# -----------------------------------------------------
.DS_Store
Thumbs.db
ehthumbs.db

# -----------------------------------------------------
# IDE / Editors
# -----------------------------------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# -----------------------------------------------------
# Misc
# -----------------------------------------------------
*.tmp
*.swp
*.bak
