name: Deploy MkDocs and Userscript

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - main

jobs:
  build-and-deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set CI run ID
        run: echo "CI_RUN_ID=${{ github.event.workflow_run.id }}" >> $GITHUB_ENV

      - name: Download build artifact from CI
        uses: actions/download-artifact@v6
        with:
          name: build
          path: dist
          run-id: ${{ env.CI_RUN_ID }}

      - name: Copy Userscript to docs/downloads
        run: |
          mkdir -p docs/downloads
          cp dist/dmv-assistant.user.js docs/downloads/

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install MkDocs and Material theme
        run: pip install mkdocs mkdocs-material

      - name: Deploy with MkDocs
        run: mkdocs gh-deploy --force
